body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;    
}

header{
    background: #f4f4f4;
    color: #35424a;
    padding-top: 30px;
    min-height: 110px;
    border-bottom: #35424a 3px solid;
}

header a{
    color: #949494;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #context{
    float: left;
}

header #context h1{
    margin: 0;
    padding: 0;
}

header #context h2{
    margin: 0;
    padding: 0;
}

header nav{
    float: right;
    margin: 10px;
}

header .current a{
    color: #35424a;
}

header a:hover{
    text-decoration: underline;
}

#showcase{
    text-align: center;
    background: url("../img/showcase_backgroung.jpeg") no-repeat -400px;
    background-attachment: fixed;
    color: #ffffff;
    min-height: 300px;
}

#showcase .container a{
    color: #ffffff;
    text-decoration: none;
}

.container a:hover{
    text-decoration: underline;
}

#showcase h1{
    font-size: 40px;
}

#showcase p{
    font-weight: bold;
}

#showcase ul{
    display: inline;
}

section#information{
    border-top: #35424a 3px solid;
    background-color: #f4f4f4;
    color: #949494;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.info{
    clear: both;
}

.info a{
    text-decoration: none;
    color: #949494;
}

.info a:hover{
    text-decoration: underline;
}

.box{
    float: left;
    width: 33%;
    text-align: center;
        display: inline;

}

.box ul{
    margin: 0;
    padding: 0;
}

footer{
    background: #35424a;
    color: #ffffff;
    text-align: center;
    font-size: 10px;
    padding: 0;
    margin: 0;
}